.list-skeleton {
    display: flex;
    flex-wrap: wrap;
}

.card-skeleton {
    width: calc(25% - 20px);
    min-width: 242px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.img-skeleton {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background: #eee;
    position: relative;
    overflow: hidden;
}

.content-skeleton {
    flex: 1;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.row-skeleton {
    height: 12px;
    margin-bottom: 12px;
    background: #eee;
    &:first-child {
        width: 50%;
    }
    &:last-child {
        width: 75%;
        margin-bottom: 0;
    }
}

.keyframe-skeleton {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, rgba(#fff, 0.1), rgba(#fff, 0.5));
    animation: skeletonmove 0.5s infinite;
}

@keyframes skeletonmove {
    from {left: -90px;}
    to {left: calc(100% - 90px);}
  }