<!--Billing 2+3-->
<div class="page-billing page-custom">
    <div class="page-cta">
      <div class="container-custom page-cta__container">
        <a class="sub-heading page-cta__text" href="#">Billing<span class="mlr-5">/</span>
          <a class="sub-heading page-cta__text active-cta" href="#"> Plan Selection</a>
        </a>
      </div>
    </div>
    <div class="page-title mb-60">
      <div class="container-custom page-title__container">
        <div class="flex-align-center">
          <span class="arrow arrow-left"></span>
          <h3 class="title ml-10">Make payment for selected plan</h3>
        </div>
      </div>
    </div>
  
    <div class="form-custom">
      <div class="container-custom form-custom__container">
        <!--Before get information-->
        <form class="block-form">
          <div class="form-custom__row">
            <div class="block-plan">
              <div class="block-plan__container flex-align-start">
                <div class="flex">
                  <div class="block-plan__item standard-item">
                    <div class="block-plan__body">
                      <h1 class="heading-custom mb-10 block-plan__heading">
                        STANDARD <br />
                        PLAN
                      </h1>
                      <h1 class="heading-custom mb-10">$700</h1>
                      <h2 class="sub-title mb-30 block-plan__tag">SAVE $50</h2>
                      <p class="sub-title">5,000 SMS PACK</p>
                      <p class="sub-title mb-30">NO EXPIRATION</p>
                      <button class="block-plan__btn">CHANGE PLAN</button>
                    </div>
                  </div>
                  <div class="block-plan__card">
                    <div class="flex block-plan__checkbox">
                      <label class="checkbox-custom small-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                      <p class="sub-heading">*By placing my secure order, I agree to the subscription and cancellation terms
                      </p>
                    </div>
                    <div class="footer">
                      <div class="container footer__container">
                        <div class="footer__col mb-10">
                          <p class="sub-title medium-weight mb-20">Accepted payment methods</p>
                          <div class="flex-wrap">
                            <div class="flex-center footer__item mb-10">
                              <img src="../../../assets/img/visa.png" />
                            </div>
                            <div class="flex-center footer__item mb-10">
                              <img src="../../../assets/img/mastercard.png" />
                            </div>
                            <div class="flex-center footer__item mb-10">
                              <img src="../../../assets/img/express.png" />
                            </div>
                            <div class="flex-center footer__item mb-10">
                              <img src="../../../assets/img/paypal.png" />
                            </div>
                          </div>
                        </div>
                        <div class="footer__col">
                          <p class="sub-title medium-weight mb-20">SSL secure payments</p>
                          <p class="sub-title medium-weight">Your information is protected by 256-bit ssl encrpytion</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-info">
                  <div class="mb-40 flex-between border-bt card-info__row">
                    <span class="card-info__text">Total:</span>
                    <span class="card-info__text">$700</span>
                  </div>
                  <div class="card-info__row mb-10">
                    <div class="block-select flex-align-center">
                      <input value="Select existing card">
                      <span class="arrow arrow-down"></span>
                    </div>
                  </div>
                  <div class="mb-30 card-info__row">
                    <button class="btn-primary card-info__btn">ADD NEW CARD</button>
                  </div>
                  <div class="card-info__detail">
                    <div class="card-info__inner">
                      <div class="block-input mb-35">
                        <input value="Card number" />
                      </div>
                      <div class="flex-between mb-35">
                        <div class="card-info__col">
                          <div class="block-select flex-align-center">
                            <input value="Expiration month">
                            <span class="arrow arrow-down"></span>
                          </div>
                        </div>
                        <div class="card-info__col">
                          <div class="block-select flex-align-center">
                            <input value="Expiration year">
                            <span class="arrow arrow-down"></span>
                          </div>
                        </div>
                      </div>
                      <div class="flex-between mb-35">
                        <div class="card-info__col">
                          <div class="block-select flex-align-center">
                            <input value="Security code/CVV">
                            <span class="question-mark flex-center">?</span>
                          </div>
                        </div>
                      </div>
                      <div class="block-input mb-35">
                        <input value="Name on card" />
                      </div>
                      <div class="flex-end">
                        <button class="btn-transparent light-grey-text plr-20">CANCEL</button>
                        <button class="btn-primary">Place secure order</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </form>
      </div>
    </div>
  
  
  </div>
  <!--End Billing 2+3-->