.select-custom {
    position: relative;
    &.active {
        ul {
            height: auto;
        }
    }
    input {
        width: 100%;
        flex: 1;
        background: transparent;
        border: none;
    }
    ul {
        width: calc(100% + 10px);
        height: 0;
        position: absolute;
        left: -5px;
        top: calc(100% + 10px);
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.1);
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 4;
        li {
            padding: 5px;
        }
    }
    .arrow {
        width: 6px;
        height: 6px;
        border-width: 1px;
    }
}