@import "../insight.component.scss";
.card-key {
    &__container {
        padding: 0 20px;
        @media screen and (min-width: 1024px) {
            padding: 0 50px;
        }
        @media screen and (min-width: 1280px){
            padding: 0 95px;
        }
    }
    &__item {
        width: calc(50% - 35px);
        padding: 10px;
        margin-right: 15px;
        margin-bottom: 15px;
        text-align: center;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.1);
        @media screen and (min-width: 768px) {
            width: calc(33% - 35px);
        }
        @media screen and (min-width: 1024px) {
            width: calc(25% - 35px);
        }
        @media screen and (min-width: 1280px) {
            width: calc(20% - 32px);
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__col {
        padding: 10px;
        text-align: center;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.1);
    }
    &__header {
        position: relative;
        .arrow-down {
            position: absolute;
            top: -2px;
            right: 0;
        }
    }
    &__two-up {
        .card-key__col {
            width: 100%;
            margin-bottom: 15px;
            @media screen and (min-width: 768px) {
                width: calc(50% - 28px);
            }
        }
    }
    &__three-up .card-key__col {
        width: 100%;
        margin-bottom: 15px;
        @media screen and (min-width: 768px) {
            width: calc(50% - 30px);
        }
        @media screen and (min-width: 1024px) {
            width: calc(100% / 3 - 32px);
        }
    }
}

.positive-status {
    color: #83D390;
}

.long-arrow {
    width: 2px;
    height: 12px;
    margin-right: 10px;
    display: inline-block;
    background: #83D390;
    position: relative;
    &:before {
        content: ' ';
        width: 5px;
        height: 5px;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 0;
        border-top: 2px solid #83D390;
        border-left: 2px solid #83D390;
        transform: translate(-50%, 0) rotate(45deg);
    }
}

.negative-status {
    color: #D3196C;
    .long-arrow {
        background: #D3196C;
        &:before {
            border-color: #D3196C;
            bottom: 0;
            top: auto;
            transform: translate(-50%, 0) rotate(-135deg);
        }
    }
}

.border-bottom {
    border-bottom: 1px solid #bcbcbc;
}