.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 3;
    &__cta {
        width: 70px;
        height: 70px;
        position: relative;
        background: #56A1A7;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: #F9F9F9;
            .item-primary {
                opacity: 0;
            }
            .item-secondary {
                opacity: 1;
            }
        }
    }
    &__list {
        padding: 0 20px;
    }
    &__item {
        height: 40px;
        padding: 0 12px 0 0;
        margin-right: 10px;
        background: #F9F9F9;
        border-radius: 20px;
        color: #56A1A7;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:last-child {
            img {
                max-width: 22px;
            }
        }
        &:hover, &.active {
            background: #56A1A7;
            color: #fff;
            .item-primary {
                opacity: 0;
            }
            .item-secondary {
                opacity: 1;
            }
        }
    }
    &__img {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 25px;
        }
    }
    &__avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        object-fit: cover;
        border-radius: 50%;
    }
    &__user {
        text-transform: uppercase;
        font-weight: 600;
        color: #56A1A7;
    }
    &__col {
        padding-right: 45px;
    }
    &__btn {
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        position: relative;
        &:hover, &.active {
            .item-primary {
                opacity: 0;
            }
            .item-secondary {
                opacity: 1;
            }
        }
        img {
            object-fit: cover;
        }
    }
    .item-primary {
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    .item-secondary {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }
}