<header class="header">
  <div class="header__container">
    <div class="flex-between header__row">
      <div class="flex-align-center header__col">
        <a href="#" class="flex-center header__cta">
          <img src="../../../assets/img/img-icon/logo.png" />
        </a>
        <nav class="flex header__list">
          <div class="flex-align-center header__item">
            <div class="header__img">
              <img src="../../../assets/img/img-icon/chat.png" />
            </div>
            <span class="sub-heading">My Flow</span>
          </div>
          <div class="flex-align-center header__item">
            <div class="header__img">
              <img src="../../../assets/img/img-icon//lamp.png" />
            </div>
            <span class="sub-heading">Insights</span>
          </div>
          <div class="flex-align-center header__item">
            <div class="header__img">
              <img src="../../../assets/img/img-icon/group-user.png" />
            </div>
            <span class="sub-heading">User Groups</span>
          </div>
          <div class="flex-align-center header__item">
            <div class="header__img">
              <img src="../../../assets/img/img-icon/angten.png" />
            </div>
            <span class="sub-heading">Broadcast</span>
          </div>
          <div class="flex-align-center header__item">
            <div class="header__img">
              <img src="../../../assets/img/img-icon/billing.png" />
            </div>
            <span class="sub-heading">Billing</span>
          </div>
        </nav>
      </div>
      <div class="flex-align-center header__col"></div>
    </div>
  </div>
</header>
