<header class="header">
  <div class="header__container">
    <div class="flex-between header__row">
      <div class="flex-align-center header__col">
        <a href="#" class="flex-center header__cta">
          <img class="item-primary" src="../../../assets/img/img-icon/logo.png" />
          <img class="item-secondary" src="../../../assets/img/img-icon/logo-active.png" />
        </a>
        <nav class="flex header__list">
          <div class="flex-align-center header__item" [class.active]="currentPage==='my-flows'"
            (click)="goto('my-flows')">
            <div class="header__img">
              <img class="item-primary" src="../../../assets/img/img-icon/chat.png" />
              <img class="item-secondary" src="../../../assets/img/img-icon/chat-active.png" />
            </div>
            <span class="sub-heading">My Flows</span>
          </div>
          <div class="flex-align-center header__item" [class.active]="currentPage==='insight'"
            (click)="goto('insight')">
            <div class="header__img">
              <img class="item-primary" src="../../../assets/img/img-icon/lamp.png" />
              <img class="item-secondary" src="../../../assets/img/img-icon/lamp-active.png" />
            </div>
            <span class="sub-heading">Insights</span>
          </div>
          <div class="flex-align-center header__item" [class.active]="currentPage==='user-groups'"
            (click)="goto('user-groups')">
            <div class="header__img">
              <img class="item-primary" src="../../../assets/img/img-icon/group-user.png" />
              <img class="item-secondary" src="../../../assets/img/img-icon/group-user-active.png" />
            </div>
            <span class="sub-heading">User Groups</span>
          </div>
          <div class="flex-align-center header__item" [class.active]="currentPage==='broadcast'"
            (click)="goto('broadcast')">
            <div class="header__img">
              <img class="item-primary" src="../../../assets/img/img-icon/angten.png" />
              <img class="item-secondary" src="../../../assets/img/img-icon/angten-active.png" />
            </div>
            <span class="sub-heading">Broadcast</span>
          </div>
          <div class="flex-align-center header__item" [class.active]="currentPage==='billing'"
            (click)="goto('billing')">
            <div class="header__img">
              <img class="item-primary" src="../../../assets/img/img-icon/billing.png" />
              <img class="item-secondary" src="../../../assets/img/img-icon/billing-active.png" />
            </div>
            <span class="sub-heading">Billing</span>
          </div>
        </nav>
      </div>
      <div class="flex-align-center header__col">
        <div class="mr-10 flex-align-center cta-event">
          <img class="header__avatar" src="../../../assets/img/blank-profile.png" />
          <span class="header__user">USER NAME</span>
        </div>
        <button class="mr-10 header__btn">
          <img class="full-space item-primary" src="../../../assets/img/img-icon/param.png" />
          <img class="full-space item-secondary" src="../../../assets/img/img-icon/param-active.png" />
        </button>
        <button class="header__btn">
          <img class="full-space item-primary" src="../../../assets/img/img-icon/source.png" />
          <img class="full-space item-secondary" src="../../../assets/img/img-icon/source-active.png" (click)="logout()"/>
        </button>
      </div>
    </div>
  </div>
</header>
