<div class="page-custom page-tutorial">
    <div class="page-tutorial__container">
        <div class="page-tutorial__img"><img src="../../../assets/img/tutorial.png" /></div>
        <div class="full-space tutorial flex-center">
            <div class="tutorial__inner" style="display: none;">
                <h1 class="tutorial__heading">Welcome to Flow</h1>
                <p class="sub-title mb-40">Watch our 5 min tutorial and become an expert on flowing content.</p>
                <div class="flex-center">
                    <button class="grey-bg tutorial__btn">SKIP</button>
                    <button class="yellow-bg tutorial__btn">Watch TUTORIAL</button>
                </div>
            </div>

            <div class="tutorial__inner">
                <div class="tutorial__video mb-25">
                    <img src="../../../assets/img/video.png" />
                    <span class="play-video">
                        <img src="../../../assets/img/play-icon.png" />
                    </span>
                </div>
                <div class="flex-center">
                    <button class="grey-bg tutorial__btn">SKIP</button>
                </div>
            </div>
        </div>
    </div>
</div>
