
<div class="page-form forgot">
  <div class="form-input__container height-full-device flex-center">
    <div class="col-50 col-graphic height-full-device">
      <div class="triangle-graphic">
      </div>
      <div class="absolute-center pd-custom">
        <img src="../../../assets/img/mobile.png" />
      </div>
    </div>
    <div class="col-50 pd-custom">
      <form class="form-input__form">
        <h2 class="heading-custom form-input__heading">Forgot your passord 
          <p class="form-input__des">Enter your email address & we'll send you a link to reset your password</p>
        </h2>
        <div class="input-block form-input__input">
          <input placeholder="Email address" formControlName="email" />
          <p class="error-text">
            Email is invalid.
          </p>
        </div>
        <div class="form-input__footer">
          <button class="small-button-new btn-transparent cta-event" type="reset">CANCEL</button>
          <button class="small-button-new button-primary-custom form-input__button" type="submit">LOG IN</button>
        </div>
      </form>
    </div>
  </div>
</div>