.form-input__container {
    color: #fff;
}

.form-input__form {
    width: 100%;
    max-width: 470px;
}

.form-input__heading {
    margin-bottom: 30px;
    color: #fff;
}

.form-input__input {
    margin-bottom: 45px;
    color: #fff;
    &:last-child {
        margin-bottom: 6.5px;
    }
    input {
        &::placeholder {
            color: #fff;
        }
    }
}


.form-input__footer {
    text-align: right;
}

.form-input__des {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

.col-graphic {
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    .triangle-graphic {
        width: 100vw;
        height: 50vw;
        background: transparent linear-gradient(180deg, #7D45C1 0%, #450791 100%, #2F1450 100%) 0% 0% no-repeat padding-box;
        transform: skew(4deg, 25deg) rotate(126deg) translate(26vw, 38.75vw);
    }
}

