<div class="page-flow page-custom">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text active-cta" href="#">Account Setting<span class="mlr-5">/</span></a>
    </div>
  </div>
  <div class="flex add-filter">
    <div class="page-title mb-15">
      <div class="container-custom page-title__container">
        <div class="flex flow-title mb-20">
          <div class="page-icon"><span class="arrow arrow-left"></span></div>
          <h3 class="title">Select an existing Flow or simply build a new one</h3>
        </div>
        <div class="card-flow mb-15">
          <div class="card-flow__inner mb-5" (click)="goto('add-new-flow')">
            <img class="mb-15" src="../../../assets/img/tutorial-chat.png" />
            <p class="title">Build New Flow</p>
          </div>
          <button class="yellow-bg card-flow__btn">WATCH TUTORIAL</button>
        </div>
        <div class="card-count">
          <div class="card-count__conatiner">
            <p class="semi-bold light-grey-text mb-10">FLOW COUNT</p>
            <div class="flex-wrap card-count__inner mb-10">
              <div class="flex-center flex-column card-count__col">
                <h1 class="large-text thin-weight">8</h1>
                <p class="small-sub-heading">Clients</p>
              </div>
              <div class="flex-center flex-column card-count__col">
                <h1 class="large-text thin-weight">12</h1>
                <p class="small-sub-heading">Brands</p>
              </div>
              <div class="flex-center flex-column card-count__col">
                <h1 class="large-text thin-weight">32</h1>
                <p class="small-sub-heading">Campaigns</p>
              </div>
              <div class="flex-center flex-column card-count__col">
                <h1 class="large-text thin-weight">120</h1>
                <p class="small-sub-heading">Flows</p>
              </div>
            </div>
            <button class="btn-primary card-count__btn">VIEW MORE INSIGHTS</button>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="filter-block mb-30">
        <div class="division-container filter-block__container">
          <div class="flex-align-center flex-wrap filter-block__row">
            <div class="filter-block__col col-3">
              <div class="flex-center filter-block__input">
                <input placeholder="Search" [(ngModel)]="searchParams.q" (keyup.enter)="search()">
                <i class="fa fa-search" (click)="search()"></i>
              </div>
            </div>
            <div class="filter-block__col col-1">
              <div class="filter-block__wrapper">
                <app-select-custom [type]="'client'" [list]="listClient" (onselect)="select($event,'client')"></app-select-custom>
              </div>
            </div>
            <div class="filter-block__col col-1">
              <div class="filter-block__wrapper">
                <app-select-custom [type]="'brand'" [list]="listBrand"
                  (onselect)="select($event,'brand')">
                </app-select-custom>

              </div>
            </div>
            <div class="filter-block__col col-1">
              <div class="filter-block__wrapper">
                <app-select-custom [type]="'campaign'" [list]="listCampaign"
                  (onselect)="select($event,'campaign')"></app-select-custom>
              </div>
            </div>
            <div class="filter-block__col col-1">
              <div class="filter-block__wrapper">
                <app-select-custom [type]="'status'" [list]="listStatus" (onselect)="select($event,'status')"
                  ></app-select-custom>
              </div>
            </div>
            <div class="filter-block__col col-1 border-vertical-center">
              <div class="flex-center filter-block__wrapper">
                <div class="flex-center flex-1 pr-5 layout-case" (click)="layout = 'grid'" [class.active]="layout === 'grid'">
                  <i class="fa fa-th light-grey-text mr-5" aria-hidden="true"></i>
                  <span class="sub-heading light-grey-text">Grid</span>
                </div>
                <div class="flex-center flex-1 pl-5 layout-case" (click)="layout = 'list'" [class.active]="layout === 'list'">
                  <i class="fa fa-list light-grey-text mr-5" aria-hidden="true"></i>
                  <span class="sub-heading light-grey-text">List</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout" [ngClass]="layout === 'grid' ? 'grid-layout' : 'list-layout'">
        <div class="layout__container">
          <div class="layout__list">
            <div class="layout__item "  *ngFor="let app of listApp">
              <div class="layout__header" [ngClass]="{'header-active': app?.isActivated}">
                <h1 class="semi-bold sub-heading">ACTIVE</h1>
              </div>
              <div class="layout__body">
                <img class="mb-5" src="../../../assets/img/default-card.png" />
                <div class="layout__content flex-center">
                  <div class="layout__des">
                  <p class="sub-heading semi-bold">{{app?.flowName}}</p>
                  <div class="layout__detail">
                    <div class="p-meidum">{{app?.clientName}} / {{app?.brandName}} / {{app?.campaignName}}</div>
                    <div class="p-meidum">Start on: {{app?.flowStartDate }}</div>
                    <div class="p-meidum">Ends on: {{app?.flowEndDate  }} </div>
                  </div>
                </div>
                  <div class="flex-wrap flex-between btn-action">
                    <button class="mb-5 two-up main-style" (click)="goto('edit-flow/'+app?.appId,app)">EDIT</button>
                    <button class="mb-5 two-up main-style">CLONE</button>
                    <button class="mb-5 full-width secondary-style">SHARE </button>
                    <button class="full-width main-style">PREVIEW</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>