<div class="page-flow page-custom">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text active-cta" href="#"
        >Account Setting<span class="mlr-5">/</span></a
      >
    </div>
  </div>
  <div class="flex">
    <div class="page-title mb-15">
        <div class="container-custom page-title__container">
            <div class="flex-align-center">
                <span class="arrow arrow-left"></span>
                <h3 class="title ml-10">Select an existing Flow or simply build a new one</h3>
            </div>
            <div class="card-flow">
                <div class="card-flow__inner mb-5">
                    <img class="mb-15" src="../../../assets/img/tutorial-chat.png" />
                </div>
                <button class="grey-bg card-flow__btn">WATCH TUTORIAL</button>
            </div>
        </div>
    </div>
  </div>
</div>
