<div class="page-flow page-custom">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text active-cta" href="#"
        >Account Setting<span class="mlr-5">/</span></a
      >
    </div>
  </div>
  <div class="flex">
    <div class="page-title mb-15">
        <div class="container-custom page-title__container">
            <div class="flex flow-title mb-20">
              <div class="page-icon"><span class="arrow arrow-left"></span></div>
                <h3 class="title">Select an existing Flow or simply build a new one</h3>
            </div>
            <div class="card-flow mb-15">
                <div class="card-flow__inner mb-5">
                    <img class="mb-15" src="../../../assets/img/tutorial-chat.png" />
                    <p class="title">Build New Flow</p>
                </div>
                <button class="yellow-bg card-flow__btn">WATCH TUTORIAL</button>
            </div>
            <div class="card-count">
              <div class="card-count__conatiner">
                <p class="semi-bold light-grey-text mb-10">FLOW COUNT</p>
                <div class="flex-wrap card-count__inner mb-10">
                  <div class="flex-center flex-column card-count__col">
                    <h1 class="large-text thin-weight">8</h1>
                    <p class="small-sub-heading">Clients</p>
                  </div>
                  <div class="flex-center flex-column card-count__col">
                    <h1 class="large-text thin-weight">12</h1>
                    <p class="small-sub-heading">Brands</p>
                  </div>
                  <div class="flex-center flex-column card-count__col">
                    <h1 class="large-text thin-weight">32</h1>
                    <p class="small-sub-heading">Campaigns</p>
                  </div>
                  <div class="flex-center flex-column card-count__col">
                    <h1 class="large-text thin-weight">120</h1>
                    <p class="small-sub-heading">Flows</p>
                  </div>
                </div>
                <button class="btn-primary card-count__btn">VIEW MORE INSIGHTS</button>
              </div>
            </div>
        </div>
    </div>
    <div class="filter-block">
      
    </div>
  </div>
</div>
