<div class="page-account page-custom">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text" href="#"
        >My Flows<span class="mlr-5">/</span></a
      >
      <a class="sub-heading page-cta__text active-cta" href="#"
        >Add a New Flow</a
      >
    </div>
  </div>
  <div class="page-title mb-35">
    <div class="container-custom page-title__container">
      <div class="flex-align-center">
        <span class="arrow arrow-left"></span>
        <h3 class="title ml-10">Add descriptions to your Flow</h3>
      </div>
    </div>
  </div>
  <div class="form-custom">
    <div class="container-custom form-custom__container">
      <div class="block-form">
        <div class="form-custom__row flex-between mb-40">
          <div class="form-custom__col">
            <div class="block-input title-bold">
              <input placeholder="Flow Name" />
            </div>
          </div>
        </div>
        <div class="form-custom__row flex-between mb-40">
          <div class="form-custom__col">
            <p class="semi-bold sub-heading mb-10">CLIENT</p>
            <div class="block-select flex-align-center flex-between">
              <p>Client Name</p>
              <span class="arrow arrow-down"></span>
            </div>
          </div>
          <div class="form-custom__col">
            <p class="semi-bold sub-heading mb-10">BRAND</p>
            <div class="block-select flex-align-center flex-between">
              <p>Brand Name</p>
              <span class="arrow arrow-down"></span>
            </div>
          </div>
          <div class="form-custom__col">
            <p class="semi-bold sub-heading mb-10">CAMPAIGN</p>
            <div class="block-select flex-align-center flex-between">
              <p>Campaign Name</p>
              <span class="arrow arrow-down"></span>
            </div>
          </div>
        </div>
        <div class="form-custom__row flex-between mb-40">
          <div class="form-custom__col">
            <p class="semi-bold sub-heading mb-10">REGION</p>
            <div class="block-select flex-align-center flex-between">
              <p>Country & TimeZone</p>
              <span class="arrow arrow-down"></span>
            </div>
          </div>
          <div class="form-custom__col">
            <p class="semi-bold sub-heading mb-10">FLOW START DATE</p>
            <div class="block-select flex-align-center flex-between">
              <p><span>YYYY-MM-DD </span> <span>23:59HRS</span></p>
              <span class="arrow arrow-down"></span>
            </div>
          </div>
          <div class="form-custom__col">
            <p class="semi-bold sub-heading mb-10">FLOW END DATE</p>
            <div class="block-select flex-align-center flex-between">
              <p><span>YYYY-MM-DD </span> <span>23:59HRS</span></p>
              <span class="arrow arrow-down"></span>
            </div>
          </div>
        </div>
        <div class="form-custom__row flex-between mb-40">
          <div class="form-custom__col">
            <p class="semi-bold sub-heading mb-10">TAGS</p>
            <div class="block-select flex-align-center flex-between">
              <p>Add a Tag</p>
              <span class="arrow arrow-down"></span>
            </div>
          </div>
          <div class="form-custom__col">
            <p class="semi-bold sub-heading mb-10">NOTE</p>
            <div class="block-input">
                <div class="multi-input"contenteditable="true">Write Your Notes</div>
            </div>
          </div>
          <div class="form-custom__col flex-align-end">
            <div class="flex-align-center flex-end btn-footer">
              <button class="btn-transparent black-text sub-heading">
                cancel
              </button>
              <button class="btn-primary">SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
