<div class="page-account page-custom">
  <form [formGroup]="addFlowForm">
    <div class="page-cta">
      <div class="container-custom page-cta__container">
        <a class="sub-heading page-cta__text" href="#">My Flows<span class="mlr-5">/</span></a>
        <a class="sub-heading page-cta__text active-cta" href="#">Add a New Flow</a>
      </div>
    </div>
    <div class="page-title mb-35">
      <div class="container-custom page-title__container">
        <div class="flex-align-center">
          <span class="arrow arrow-left" (click)="goback()"></span>
          <h3 class="title ml-10">Add descriptions to your Flow</h3>
        </div>
      </div>
    </div>
    <div class="form-custom">
      <div class="container-custom form-custom__container">
        <div class="block-form">
          <div class="form-custom__row flex-between mb-40">
            <div class="form-custom__col">
              <div class="block-input title-bold">
                <input placeholder="Flow Name" formControlName="flowName" />

              </div>
              <p class="error-text"
                *ngIf="addFlowForm.controls.flowName.touched && !addFlowForm.controls.flowName.valid">This
                field is required.</p>
            </div>
          </div>
          <div class="form-custom__row flex-between mb-40">
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">CLIENT</p>
              <div class="block-select flex-align-center flex-between" id="client">
                <!-- <input placeholder="Brand Name" formControlName="client" (focus)="onFocus('client')"> -->
                <app-select-custom [type]="'client'" [disabledInput]="false" [list]="listClient" (onselect)="select($event,'client')"
                  (add)="onAdd($event,'client')" [dataId]="clientId"></app-select-custom>
                <span class="arrow arrow-down"></span>
              </div>
              <p class="error-text"
                *ngIf="addFlowForm?.controls?.clientId?.touched && !addFlowForm?.controls?.clientId.valid">This
                field is required.</p>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">BRAND</p>
              <div class="block-select flex-align-center flex-between" id="brand">
                <!-- <input placeholder="Brand Name" formControlName="brand" (focus)="onFocus('brand')"> -->
                <app-select-custom [type]="'brand'" [disabledInput]="false"  (add)="onAdd($event,'brand')" [list]="listBrand"
                  (onselect)="select($event,'brand')" [dataId]="brandId">
                </app-select-custom>
                <span class="arrow arrow-down"></span>
              </div>
              <p class="error-text"
                *ngIf="addFlowForm?.controls?.brandId?.touched && !addFlowForm?.controls?.brandId.valid">This
                field is required.</p>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">CAMPAIGN</p>
              <div class="block-select flex-align-center flex-between" id="campaign">
                <!-- <p>Campaign Name</p> -->
                <!-- <input placeholder="Campaign Name" formControlName="campaign" (focus)="onFocus('campaign')"> -->
                <app-select-custom [type]="'campaign'" [disabledInput]="false" [list]="listCampaign" (onselect)="select($event,'campaign')"
                  (add)="onAdd($event,'campaign')" [dataId]="campaignId"></app-select-custom>
                <span class="arrow arrow-down"></span>

              </div>
              <p class="error-text"
                *ngIf="addFlowForm?.controls?.campaignId?.touched && !addFlowForm?.controls?.campaignId.valid">This
                field is required.</p>
            </div>
          </div>
          <div class="form-custom__row flex-between mb-40">
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">REGION</p>
              <div class="block-select flex-align-center flex-between">
                <!-- <p>Country & TimeZone</p> -->
                <select formControlName="region">
                  <option *ngFor="let timezone of userTimezone" [value]='timezone.value'>{{timezone.text}}</option>
                </select>
                <span class="arrow arrow-down"></span>
              </div>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">FLOW START DATE</p>
              <div class="block-select flex-align-center flex-between">
                <!-- <p><span>YYYY-MM-DD </span> <span>23:59HRS</span></p> -->
                <ngx-datetime-picker formControlName="flowStartDate" [(selectedDateTime)]="addFlowForm.value.flowStartDate"></ngx-datetime-picker>
                <span class="arrow arrow-down"></span>

              </div>
              <p class="error-text"
                *ngIf="addFlowForm.controls.flowStartDate.touched && !addFlowForm.controls.flowStartDate.valid">This
                field is required.</p>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">FLOW END DATE</p>
              <div class="block-select flex-align-center flex-between">
                <!-- <p><span>YYYY-MM-DD </span> <span>23:59HRS</span></p> -->
                <ngx-datetime-picker formControlName="flowEndDate"></ngx-datetime-picker>
                <span class="arrow arrow-down"></span>

              </div>
              <p class="error-text"
                *ngIf="addFlowForm.controls.flowEndDate.touched && !addFlowForm.controls.flowEndDate.valid">This
                field is required.</p>
            </div>
          </div>
          <div class="form-custom__row flex-between mb-40">
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">TAGS</p>
              <div class="block-select pb-0 flex-align-center flex-between">
                <!-- <p>Add a Tag</p> -->
                <app-tag-input (onchange)="onTagsChange($event)" [data]="tagsData"></app-tag-input>
                <!-- <span class="arrow arrow-down"></span> -->
              </div>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">NOTE</p>
              <div class="block-input">
                <!-- <div class="multi-input" contenteditable="true">Write Your Notes</div> -->
                <textarea class="multi-input" formControlName='notes'>Write Your Notes</textarea>
              </div>
            </div>
            <div class="form-custom__col flex-align-end">
              <div class="flex-align-center flex-end btn-footer">
                <button class="btn-transparent black-text sub-heading" type="reset">
                  cancel
                </button>
                <button class="btn-primary" (click)="createApp()" *ngIf="!flowId" [disabled]='loading?.loadingApp'>
                  <app-loading-inside-btn *ngIf="loading?.loadingApp"></app-loading-inside-btn>
                  {{loading?.loadingApp?'':'NEXT'}}
                </button>
                <button class="btn-primary" (click)="updateApp()" *ngIf="flowId" [disabled]='loading?.loadingApp'>
                  <app-loading-inside-btn *ngIf="loading?.loadingApp"></app-loading-inside-btn>
                  {{loading?.loadingApp?'':'NEXT'}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>