<!--Billing 1-->
<div class="page-billing page-custom">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text active-cta" href="#">Billing<span class="mlr-5">/</span></a>
    </div>
  </div>
  <div class="page-title mb-15">
    <div class="container-custom page-title__container">
      <div class="flex-align-center">
        <span class="arrow arrow-left"></span>
        <h3 class="title ml-10">Explore your resource bank and history</h3>
      </div>
    </div>
  </div>

  <div class="form-custom">
    <div class="container-custom form-custom__container">
      <!--Before get information-->
      <div class="block-form form-four-up">
        <div class="form-custom__row flex-wrap">
          <div class="card card--four mb-25">
            <div class="card__container">
              <div class="card__row flex-align-end">
                <div class="card__col col-left">
                  <h3 class="sub-heading card__tag">SMS Resources</h3>
                  <p class="card-heading">312,000</p>
                </div>
                <div class="card__col col-right">
                  <button class="card__btn">
                    Resource history
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--four mb-25">
            <div class="card__container">
              <div class="card__row flex-align-end">
                <div class="card__col col-left">
                  <h3 class="sub-heading card__tag">Email Resources</h3>
                  <p class="card-heading">1,200</p>
                </div>
                <div class="card__col col-right">
                  <button class="card__btn">
                    Resource history
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--four mb-25">
            <div class="card__container">
              <div class="card__row flex-align-end">
                <div class="card__col col-left">
                  <h3 class="sub-heading card__tag">Notification Resources</h3>
                  <p class="card-heading">1,200</p>
                </div>
                <div class="card__col col-right">
                  <button class="card__btn">
                    Resource history
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--four mb-25">
            <div class="card__container">
              <div class="card__row flex-align-end">
                <div class="card__col col-left">
                  <h3 class="sub-heading card__tag">Publishing Resources</h3>
                  <p class="card-heading">1,200</p>
                </div>
                <div class="card__col col-right">
                  <button class="card__btn">
                    Resource history
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-custom__row mb-40">
          <h3 class="title mb-10">Platform resource bank</h3>
          <p class="sub-heading grey-text">
            Our platform has a flexible plan that grows with you. Helping you
            work smarter. Buy an sms pack to ensure disruption-free sharing by
            text.<br />
            You can share your timeline by sms from your Dashboard, and everyone
            can share it from the timeline page!
          </p>
        </div>
        <div class="form-custom__row">
          <div class="tab mb-25">
            <div class="tab__container flex-wrap">
              <div class="semi-bold tab__item item-active">SMS RESOURCES</div>
              <div class="semi-bold tab__item">EMAIL RESOURCES</div>
              <div class="semi-bold tab__item">NOTIFICATION RESOURCES</div>
              <div class="semi-bold tab__item">PUBLISHING RESOURCES</div>
            </div>
          </div>
          <div class="block-plan">
            <div class="block-plan__container flex-wrap">
              <div class="block-plan__item basic-item mb-25">
                <div class="semi-bold sub-title block-plan__header">
                  <span>RECOMMENDED PLAN</span>
                </div>
                <div class="block-plan__body">
                  <h1 class="heading-custom mb-10 block-plan__heading">
                    BASIC <br />
                    PLAN
                  </h1>
                  <h1 class="heading-custom mb-10">FREE</h1>
                  <h2 class="sub-title mb-10 block-plan__tag">
                    TRY FOR 90 DAYS
                  </h2>
                  <p class="sub-title">3 PUBLISHED FLOWS</p>
                  <p class="sub-title">NO USER GROUP</p>
                  <p class="sub-title">NO BROADCAST</p>
                  <p class="sub-title">LIMITED INSIGHTS</p>
                  <button class="block-plan__btn" (click)="goto('plan-selection')">SELECT PLAN</button>
                </div>
              </div>
              <div class="block-plan__item mb-25 standard-item item-active">
                <div class="semi-bold sub-title block-plan__header">
                  <span>RECOMMENDED PLAN</span>
                </div>
                <div class="block-plan__body">
                  <h1 class="heading-custom mb-10 block-plan__heading">
                    STANDARD <br />
                    PLAN
                  </h1>
                  <h1 class="heading-custom mb-10">$150</h1>
                  <h2 class="sub-title mb-10 block-plan__tag">
                    PER MONTH
                  </h2>
                  <p class="sub-title">UNLIMITED PUBLISHING</p>
                  <p class="sub-title">UP TO 10 USER GROUPS</p>
                  <p class="sub-title">UP TO 10 BROADCAST</p>
                  <p class="sub-title">FULL INSIGHTS</p>
                  <button class="block-plan__btn" (click)="goto('plan-selection')">SELECT PLAN</button>
                </div>
              </div>
              <div class="block-plan__item mb-25 premium-item">
                <div class="semi-bold sub-title block-plan__header">
                  <span>RECOMMENDED PLAN</span>
                </div>
                <div class="block-plan__body">
                  <h1 class="heading-custom mb-10 block-plan__heading">
                    PREMIUM <br />
                    PLAN
                  </h1>
                  <h1 class="heading-custom mb-10">$750</h1>
                  <h2 class="sub-title mb-10 block-plan__tag">
                    PER MONTH
                  </h2>
                  <p class="sub-title">UNLIMITED PUBLISHING</p>
                  <p class="sub-title">UNLIMITED USER GROUPS</p>
                  <p class="sub-title">UP TO 200 BROADCAST</p>
                  <p class="sub-title">FULL INSIGHTS</p>
                  <button class="block-plan__btn" (click)="goto('plan-selection')"> SELECT PLAN</button>
                </div>
              </div>
            </div>
          </div>
          <p class="p-meidum grey-text mb-35">
            Displayed prices are for yearly subscriptions, paid in full at the time of purchase. Prices do not include
            VAT, which is determined based on the user’s billing country.<br />
            The final price can be seen on the purchase page, before payment is completed. The Ad Vouchers are third
            party services and products and therefore are subject to the Terms of Use of such providers.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer mb-25">
    <div class="container footer__container flex-wrap flex-justify-center">
      <div class="footer__col">
        <p class="sub-title medium-weight mb-15">Accepted payment methods</p>
        <div class="flex-wrap">
          <div class="flex-center footer__item mb-10">
            <img src="../../../assets/img/visa.png" />
          </div>
          <div class="flex-center footer__item mb-10">
            <img src="../../../assets/img/mastercard.png" />
          </div>
          <div class="flex-center footer__item mb-10">
            <img src="../../../assets/img/express.png" />
          </div>
          <div class="flex-center footer__item mb-10">
            <img src="../../../assets/img/paypal.png" />
          </div>
        </div>
      </div>
      <div class="footer__col">
        <p class="sub-title medium-weight">SSL secure payments
          <br /><br />
          Your information is protected by 256-bit ssl encrpytion</p>
      </div>
    </div>
  </div>
</div>
<!--End Billing 1-->


