<!--Billing 1-->
<div class="page-billing page-custom" style="display: none;">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text active-cta" href="#">Billing<span class="mlr-5">/</span></a>
    </div>
  </div>
  <div class="page-title mb-15">
    <div class="container-custom page-title__container">
      <div class="flex-align-center">
        <span class="arrow arrow-left"></span>
        <h3 class="title ml-10">Explore your resource bank and history</h3>
      </div>
    </div>
  </div>

  <div class="form-custom">
    <div class="container-custom form-custom__container">
      <!--Before get information-->
      <div class="block-form form-four-up">
        <div class="form-custom__row flex-wrap">
          <div class="card card--four mb-25">
            <div class="card__container">
              <div class="card__row flex-align-end">
                <div class="card__col col-left">
                  <h3 class="sub-heading card__tag">SMS Resources</h3>
                  <p class="card-heading">312,000</p>
                </div>
                <div class="card__col col-right">
                  <button class="card__btn">
                    Resource history
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--four mb-25">
            <div class="card__container">
              <div class="card__row flex-align-end">
                <div class="card__col col-left">
                  <h3 class="sub-heading card__tag">Email Resources</h3>
                  <p class="card-heading">1,200</p>
                </div>
                <div class="card__col col-right">
                  <button class="card__btn">
                    Resource history
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--four mb-25">
            <div class="card__container">
              <div class="card__row flex-align-end">
                <div class="card__col col-left">
                  <h3 class="sub-heading card__tag">Notification Resources</h3>
                  <p class="card-heading">1,200</p>
                </div>
                <div class="card__col col-right">
                  <button class="card__btn">
                    Resource history
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card--four mb-25">
            <div class="card__container">
              <div class="card__row flex-align-end">
                <div class="card__col col-left">
                  <h3 class="sub-heading card__tag">Publishing Resources</h3>
                  <p class="card-heading">1,200</p>
                </div>
                <div class="card__col col-right">
                  <button class="card__btn">
                    Resource history
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-custom__row mb-40">
          <h3 class="title mb-10">Platform resource bank</h3>
          <p class="sub-heading grey-text">
            Our platform has a flexible plan that grows with you. Helping you
            work smarter. Buy an sms pack to ensure disruption-free sharing by
            text.<br />
            You can share your timeline by sms from your Dashboard, and everyone
            can share it from the timeline page!
          </p>
        </div>
        <div class="form-custom__row">
          <div class="tab mb-25">
            <div class="tab__container flex-wrap">
              <div class="semi-bold tab__item item-active">SMS RESOURCES</div>
              <div class="semi-bold tab__item">EMAIL RESOURCES</div>
              <div class="semi-bold tab__item">NOTIFICATION RESOURCES</div>
              <div class="semi-bold tab__item">PUBLISHING RESOURCES</div>
            </div>
          </div>
          <div class="block-plan">
            <div class="block-plan__container flex-wrap">
              <div class="block-plan__item basic-item mb-25">
                <div class="semi-bold sub-title block-plan__header">
                  <span>RECOMMENDED PLAN</span>
                </div>
                <div class="block-plan__body">
                  <h1 class="heading-custom mb-10 block-plan__heading">
                    BASIC <br />
                    PLAN
                  </h1>
                  <h1 class="heading-custom mb-10">FREE</h1>
                  <h2 class="sub-title mb-10 block-plan__tag">
                    TRY FOR 90 DAYS
                  </h2>
                  <p class="sub-title">3 PUBLISHED FLOWS</p>
                  <p class="sub-title">NO USER GROUP</p>
                  <p class="sub-title">NO BROADCAST</p>
                  <p class="sub-title">LIMITED INSIGHTS</p>
                  <button class="block-plan__btn">SELECT PLAN</button>
                </div>
              </div>
              <div class="block-plan__item mb-25 standard-item item-active">
                <div class="semi-bold sub-title block-plan__header">
                  <span>RECOMMENDED PLAN</span>
                </div>
                <div class="block-plan__body">
                  <h1 class="heading-custom mb-10 block-plan__heading">
                    STANDARD <br />
                    PLAN
                  </h1>
                  <h1 class="heading-custom mb-10">$150</h1>
                  <h2 class="sub-title mb-10 block-plan__tag">
                    PER MONTH
                  </h2>
                  <p class="sub-title">UNLIMITED PUBLISHING</p>
                  <p class="sub-title">UP TO 10 USER GROUPS</p>
                  <p class="sub-title">UP TO 10 BROADCAST</p>
                  <p class="sub-title">FULL INSIGHTS</p>
                  <button class="block-plan__btn">SELECT PLAN</button>
                </div>
              </div>
              <div class="block-plan__item mb-25 premium-item">
                <div class="semi-bold sub-title block-plan__header">
                  <span>RECOMMENDED PLAN</span>
                </div>
                <div class="block-plan__body">
                  <h1 class="heading-custom mb-10 block-plan__heading">
                    PREMIUM <br />
                    PLAN
                  </h1>
                  <h1 class="heading-custom mb-10">$750</h1>
                  <h2 class="sub-title mb-10 block-plan__tag">
                    PER MONTH
                  </h2>
                  <p class="sub-title">UNLIMITED PUBLISHING</p>
                  <p class="sub-title">UNLIMITED USER GROUPS</p>
                  <p class="sub-title">UP TO 200 BROADCAST</p>
                  <p class="sub-title">FULL INSIGHTS</p>
                  <button class="block-plan__btn">SELECT PLAN</button>
                </div>
              </div>
            </div>
          </div>
          <p class="p-meidum grey-text mb-35">
            Displayed prices are for yearly subscriptions, paid in full at the time of purchase. Prices do not include
            VAT, which is determined based on the user’s billing country.<br />
            The final price can be seen on the purchase page, before payment is completed. The Ad Vouchers are third
            party services and products and therefore are subject to the Terms of Use of such providers.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer mb-25">
    <div class="container footer__container flex-wrap flex-justify-center">
      <div class="footer__col">
        <p class="sub-title medium-weight mb-15">Accepted payment methods</p>
        <div class="flex-wrap">
          <div class="flex-center footer__item mb-10">
            <img src="../../../assets/img/visa.png" />
          </div>
          <div class="flex-center footer__item mb-10">
            <img src="../../../assets/img/mastercard.png" />
          </div>
          <div class="flex-center footer__item mb-10">
            <img src="../../../assets/img/express.png" />
          </div>
          <div class="flex-center footer__item mb-10">
            <img src="../../../assets/img/paypal.png" />
          </div>
        </div>
      </div>
      <div class="footer__col">
        <p class="sub-title medium-weight">SSL secure payments
          <br /><br />
          Your information is protected by 256-bit ssl encrpytion</p>
      </div>
    </div>
  </div>
</div>
<!--End Billing 1-->

<!--Billing 2+3-->
<div class="page-billing page-custom" style="display: none;">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text" href="#">Billing<span class="mlr-5">/</span>
        <a class="sub-heading page-cta__text active-cta" href="#"> Plan Selection</a>
      </a>
    </div>
  </div>
  <div class="page-title mb-60">
    <div class="container-custom page-title__container">
      <div class="flex-align-center">
        <span class="arrow arrow-left"></span>
        <h3 class="title ml-10">Make payment for selected plan</h3>
      </div>
    </div>
  </div>

  <div class="form-custom">
    <div class="container-custom form-custom__container">
      <!--Before get information-->
      <form class="block-form">
        <div class="form-custom__row">
          <div class="block-plan">
            <div class="block-plan__container flex-align-start">
              <div class="flex">
                <div class="block-plan__item standard-item">
                  <div class="block-plan__body">
                    <h1 class="heading-custom mb-10 block-plan__heading">
                      STANDARD <br />
                      PLAN
                    </h1>
                    <h1 class="heading-custom mb-10">$700</h1>
                    <h2 class="sub-title mb-30 block-plan__tag">SAVE $50</h2>
                    <p class="sub-title">5,000 SMS PACK</p>
                    <p class="sub-title mb-30">NO EXPIRATION</p>
                    <button class="block-plan__btn">CHANGE PLAN</button>
                  </div>
                </div>
                <div class="block-plan__card">
                  <div class="flex block-plan__checkbox">
                    <label class="checkbox-custom small-checkbox">
                      <input type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                    <p class="sub-heading">*By placing my secure order, I agree to the subscription and cancellation terms
                    </p>
                  </div>
                  <div class="footer">
                    <div class="container footer__container">
                      <div class="footer__col mb-10">
                        <p class="sub-title medium-weight mb-20">Accepted payment methods</p>
                        <div class="flex-wrap">
                          <div class="flex-center footer__item mb-10">
                            <img src="../../../assets/img/visa.png" />
                          </div>
                          <div class="flex-center footer__item mb-10">
                            <img src="../../../assets/img/mastercard.png" />
                          </div>
                          <div class="flex-center footer__item mb-10">
                            <img src="../../../assets/img/express.png" />
                          </div>
                          <div class="flex-center footer__item mb-10">
                            <img src="../../../assets/img/paypal.png" />
                          </div>
                        </div>
                      </div>
                      <div class="footer__col">
                        <p class="sub-title medium-weight mb-20">SSL secure payments</p>
                        <p class="sub-title medium-weight">Your information is protected by 256-bit ssl encrpytion</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-info">
                <div class="mb-40 flex-between border-bt card-info__row">
                  <span class="card-info__text">Total:</span>
                  <span class="card-info__text">$700</span>
                </div>
                <div class="card-info__row mb-10">
                  <div class="block-select flex-align-center">
                    <input value="Select existing card">
                    <span class="arrow arrow-down"></span>
                  </div>
                </div>
                <div class="mb-30 card-info__row">
                  <button class="btn-primary card-info__btn">ADD NEW CARD</button>
                </div>
                <div class="card-info__detail">
                  <div class="card-info__inner">
                    <div class="block-input mb-35">
                      <input value="Card number" />
                    </div>
                    <div class="flex-between mb-35">
                      <div class="card-info__col">
                        <div class="block-select flex-align-center">
                          <input value="Expiration month">
                          <span class="arrow arrow-down"></span>
                        </div>
                      </div>
                      <div class="card-info__col">
                        <div class="block-select flex-align-center">
                          <input value="Expiration year">
                          <span class="arrow arrow-down"></span>
                        </div>
                      </div>
                    </div>
                    <div class="flex-between mb-35">
                      <div class="card-info__col">
                        <div class="block-select flex-align-center">
                          <input value="Security code/CVV">
                          <span class="question-mark flex-center">?</span>
                        </div>
                      </div>
                    </div>
                    <div class="block-input mb-35">
                      <input value="Name on card" />
                    </div>
                    <div class="flex-end">
                      <button class="btn-transparent light-grey-text plr-20">CANCEL</button>
                      <button class="btn-primary">Place secure order</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>


</div>
<!--End Billing 2+3-->


<!--Billing 4-->
<div class="page-billing page-custom">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text" href="#">Billing<span class="mlr-5">/</span>
        <a class="sub-heading page-cta__text" href="#">Plan Selection<span class="mlr-5">/</span></a>
        <a class="sub-heading page-cta__text active-cta" href="#">SMS History </a>
      </a>
    </div>
  </div>
  <div class="page-title mb-60">
    <div class="container-custom page-title__container">
      <div class="flex-align-center">
        <span class="arrow arrow-left"></span>
        <h3 class="title ml-10">Explore your SMS resource history</h3>
      </div>
    </div>
  </div>

  <div class="form-custom">
    <div class="container-custom form-custom__container">
      <form class="block-form">
        <div class="form-custom__row">
          <div class="block-input mb-25">
            <input value="Enter your filter search here" />
          </div>
          <div class="flex-between mb-10">
            <p class="sub-heading light-grey-text">Enter your filter search here</p>
            <div class="table__btn flex-align-center">
              <button class="btn-primary">Download list</button>
              <button class="btn-primary ml-10">Print list</button>
            </div>
          </div>
          
          <div class="table__block mb-20">
            <div class="table__container">
              <table>
                <thead>
                  <th>Date <span class="order"></span></th>
                  <th>Name <span class="order"></span></th>
                  <th>SMS Quantity <span class="order"></span></th>
                  <th>Delivery rate<span class="order"></span></th>
                  <th>Sent by<span class="order"></span></th>
                  <th>Timeline affiliation<span class="order"></span></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr>
                    <td>2019.08.05</td>
                    <td>User group 1</td>
                    <td>120,000</td>
                    <td>99%</td>
                    <td>Account name</td>
                    <td>Yes</td>
                    <td>
                      <label class="checkbox-custom small-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>2019.08.05</td>
                    <td>User group 1</td>
                    <td>120,000</td>
                    <td>99%</td>
                    <td>Account name</td>
                    <td>Yes</td>
                    <td>
                      <label class="checkbox-custom small-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>2019.08.05</td>
                    <td>User group 1</td>
                    <td>120,000</td>
                    <td>99%</td>
                    <td>Account name</td>
                    <td>Yes</td>
                    <td>
                      <label class="checkbox-custom small-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>2019.08.05</td>
                    <td>User group 1</td>
                    <td>120,000</td>
                    <td>99%</td>
                    <td>Account name</td>
                    <td>Yes</td>
                    <td>
                      <label class="checkbox-custom small-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>2019.08.05</td>
                    <td>User group 1</td>
                    <td>120,000</td>
                    <td>99%</td>
                    <td>Account name</td>
                    <td>Yes</td>
                    <td>
                      <label class="checkbox-custom small-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>2019.08.05</td>
                    <td>User group 1</td>
                    <td>120,000</td>
                    <td>99%</td>
                    <td>Account name</td>
                    <td>Yes</td>
                    <td>
                      <label class="checkbox-custom small-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>2019.08.05</td>
                    <td>User group 1</td>
                    <td>120,000</td>
                    <td>99%</td>
                    <td>Account name</td>
                    <td>Yes</td>
                    <td>
                      <label class="checkbox-custom small-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="flex-align-end flex-column">
            <p class="sub-heading mb-10">Select an item to </p>
            <button class="btn-primary mb-10">View Message</button>
            <button class="btn-primary">history details</button>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>
<!--End Billing 4-->