
<!-- <app-auth-header [currentPage]="''"></app-auth-header> -->
<div class="page-form term-page page-custom">
  <div class="term-page__container">
    <div class="term-page__inner">
      <div class="flex flex-align-end term-header">
        <h1 class="large-heading-term">OUR TERMS OF USE</h1>
        <div class="short-intro">
          <h1 class="heading-custom">OUR TERMS OF USE</h1>
          <p class="p-small-custom">LAST REVISED: JULY 15, 2019</p><br /><br />
          <p>
            Welcome! We are truly excited to have you aboard. Thank you for choosing to use our services.<br /><br /><br />
             Below we have listed important legal terms that apply to anyone who visits our website or uses our services. These terms are necessary in
            order to protect both you and us, and to make our services possible and more enjoyable for everyone. WE offer a wide
            range of services and features and part of the terms below may not be relevant to the specific services you use.​We
            understand that legal terms can be exhausting to read, and we’ve tried to make the experience more pleasant. If you have
            any suggestions on how we can improve them, you are more than welcome to contact us at support@DASS-INC.com.
          </p>
        </div>
      </div>

      
      
      <h1 class="heading bt-heading">1. INTRODUCTION</h1>
      <div class="flex mb-40">
        <div class="left-des des">
          <p><b>1.1 OUR PURPOSE</b><br/><br />
            Our services offer our users the ability to easily create beautiful and highly functional online
            presence, to manage and promote businesses, content and ideas, and have an overall great experience doing so – without
            being tech-savvy or a design guru. As detailed below, we offer our users numerous tools and features for creating,
            publishing and use of stunning websites, online e-commerce platforms, newsletters, galleries, media players, mobile apps
            and other online and mobile online and mobile applications, tools and services. The online and mobile websites and
            platforms created by Users are collectively referred to herein as (“User Platform(s)”).<br/>
          </p>
        </div>
        <div class="right-des des">
          <p><b>#WEMAKEITEASY</b><br /><br />
            We Offer online and mobile services and tools, that let create, manage and or/use your own online and
            mobile presence.<br />
          </p>
        </div>
      </div>
      <div class="flex mb-40">
        <div class="left-des des">
          <p><b>1.2 LEGAL AGREEMENT</b><br /><br />
            These DASS-inc.com Terms of Use (“Terms of Use”), together with such additional terms which specifically apply to some
            of our services and features as presented on the Wix.com website(s) (“DASS Website”, and collectively – the “DASS
            Terms”), all set forth the entire terms and conditions applicable to each visitor or user (“User” our “you”) of the DASS
            Website, the DASS mobile application (the “DASS App”) and/or any other services, applications and features offered by us
            with respect thereto, except where we explicitly state otherwise (all services offered through the DASS Website or the
            DASS App, collectively – the “DASS Services” or “Services”).<br/><br />
             The DASS Terms constitute a binding and enforceable legal
            contract between Wix.com Ltd. and its affiliated companies and subsidiaries worldwide (“DASS”, “us” or “we”) and you in
            relation to the use of any DASS Services - so please read them carefully.<br /><br />
             You may visit and/or use the DASS Services
            and/or the DASS App only if you fully agree to the DASS Terms - and by using and/or registering to any of the DASS
            Services, you signify and affirm your informed consent to these Terms of Use and any other DASS Terms applicable to your
            use of any DASS Services. If you do not read, fully understand and agree to the DASS Terms, you must immediately leave
            the DASS Website and avoid or discontinue all use of the DASS Services.​<br /><br />
            By using our Services, you acknowledge that you
            have read our Privacy Policy available at http://www.dass-inc.com/about/privacy (“Privacy Policy”).<br />
          </p>
        </div>
        <div class="right-des des">
          <p><b>#WEMAKEITEASY</b><br /><br />
            By visiting our website or using our application and/or services, you are entering into a legal agreement with us,
            consisting of these Terms of Use, and our additional services’ legal terms.<br />
          </p>
          <p>
            By visiting our website or using our application and/or services, you are entering into a legal agreement with us,
            consisting of these Terms of Use, and our additional services’ legal terms.
          </p>
        </div>
      </div>
      <div class="flex pdb-40">
        <div class="left-des des">
          <p><b>1.3 USER ACCOUNT</b><br /><br />
            In order to access and use certain sections and features of DASS Services, you must first register and create an account
            with DASS (“User Account”).<br /><br />
            If anyone other than yourself accesses your User Account and/or any of your User Platforms’ settings, they may perform
            any actions available to you (unless as specifically stated otherwise on the DASS Services), make changes to your User
            Platform(s) and User Account, and accept any legal terms available therein, make various representations and warranties
            and more – and all such activities will be deemed to have occurred on your behalf and in your name.<br /><br />
            Therefore, we strongly encourage you to keep the log-in credentials of your User Account confidential, and allow such
            access only to people you trust - as you will be solely and fully responsible for all activities that occur under your
            User Account and/or User Platforms (including for any representations, warranties and undertakings made therein),
            whether or not specifically authorized by you, and for any damages, expenses or losses that may result from such
            activities.<br/><br/>
            You must provide accurate and complete information when registering your User Account and using the DASS Services, to
            which you are the sole and exclusive rights holder. We strongly encourage you to provide your own (or your company’s)
            contact and billing details, including your valid e-mail address, as we may use it to identify and determine the actual
            and true owner of the User Account and/or User Content (as defined below) submitted to us. In case of a dispute on User
            Account ownership, we reserve the right to determine ownership to a User Account based on our reasonable judgment,
            whether or not an independent investigation has been conducted by us. However, if we cannot make such determination (as
            we may deem in our sole discretion), we reserve the right to avoid doing so and/or suspend a User Account until the
            parties disputing such ownership, reach a resolution, without liability to you or to any other party. We may request
            documentation (e.g. government-issued ID, a business license) that may assist us in determining ownership. Among others,
            we may consider the principles set forth below. DASS will consider the owner of a User Account, User Platform and/or
            User Content created and/or uploaded to the relevant DASS Service, as the person or entity who has access to the e-mail
            address then listed in DASS’s records for such User Account under which such User Platform or User Content was created.
            If any Paid Services (as defined in Section 5 below) were purchased via a User Account, DASS will consider the owner of
            such User Account and/or the relevant User Platform and/or User Content created thereunder, may be considered to be the
            person or entity whose billing details were used to purchase such Paid Services (“Billing Information”). Notwithstanding
            the foregoing, when applicable if a User Platform was connected to an external domain name (either imported or purchased
            as part of certain Paid Services, as defined below), and such domain’s registration information is publicly available
            via the WHOIS database provided on the www.whois.net website or on DASS’s database, DASS will consider the owner of such
            User Platform as the person or entity registered as the registrant of such domain thereunder. In the event that an
            individual and an organization are both registered as the registrant or the registrant organization of such domain, DASS
            will consider the organization as the actual owner of the domain, and therefore as the owner of the User Platform
            connected to such domain.<br/><br/>
            n event the Billing Information indicates one person as the owner of the User Platform and the domain registration
            indicates a different owner, DASS shall consider the person registered as the owner of the domain connected to the DASS
            Account as the owner of the User Platform. Notwithstanding the forgoing, DASS shall have the right to determine the
            ownership of User Content and/or a User Website as it chooses, including by ignoring the indications set forth above, in
            event DASS deems, at its sole discretion, that the situation justifies such determination, all based upon the factual
            situation as determined by DASS.<br />
          </p>
        </div>
        <div class="right-des des">
          <p><b>#WEMAKEITEASY</b><br /><br />
            To use certain of our services, you need to create a user account.<br /><br />
            You should keep your username and password protected and safe, and only allow people you trust to access your account or
            website settings.<br /><br />
            All activities that occur under your user account or website are your responsibility.<br/><br/>
            The account information you provide us must be your own (or your company’s), and be accurate and complete.<br /><br />
            When a user account is disputed, we may determine the ownership of such user account.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
