<!-- <div class="page-home">
  <section class="hero">
    <div class="hero__bg"></div>
    <div class="hero__container flex-center">
      <div class="hero__inner">
        <h1 class="heading hero__heading">Flow as you are</h1>
        <h1 class="heading hero__heading opacity-40">as you were,</h1>
        <h1 class="heading hero__heading opacity-8">as I want you to be.</h1>
      </div>
      <img src="../../../assets/img/mobile-video.png" />
    </div>
  </section>
</div> -->
<div class="page-home">
  <section class="hero">
    <div class="hero__bg"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__container flex-center">
            <div class="hero__inner">
              <h1 class="heading hero__heading">Flow as you are</h1>
              <div class="hero__detail">
                <h1 class="heading hero__heading opacity-40">as you were,</h1>
                <h1 class="heading hero__heading opacity-8 mb-30">as I want you to be.</h1>
                <p class="p-large mb-30">
                  A one-stop solution that simplifies and delivers bite-sized content to your customers with impeccable
                  data for analysis and retargeting.
                </p>
                <div class="flex-align-center">
                  <button class="hero__btn">SIGN UP NOW</button>
                  <button class="hero__btn">LOGIN</button>
                </div>
              </div>
            </div>
            <img src="../../../assets/img/simulation.png" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__container flex-center">
            <div class="hero__inner">
              <h1 class="heading hero__heading">Flow as you are</h1>
              <div class="hero__detail">
                <h1 class="heading hero__heading opacity-40">as you were,</h1>
                <h1 class="heading hero__heading opacity-8 mb-30">as I want you to be.</h1>
                <p class="p-large mb-30">
                  A one-stop solution that simplifies and delivers bite-sized content to your customers with impeccable
                  data for analysis and retargeting.
                </p>
                <div class="flex-align-center">
                  <button class="hero__btn">SIGN UP NOW</button>
                  <button class="hero__btn">LOGIN</button>
                </div>
              </div>
            </div>
            <img src="../../../assets/img/mobile-video.png" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__container flex-center">
            <div class="hero__inner">
              <h1 class="heading hero__heading">Flow as you are</h1>
              <div class="hero__detail">
                <h1 class="heading hero__heading opacity-40">as you were,</h1>
                <h1 class="heading hero__heading opacity-8 mb-30">as I want you to be.</h1>
                <p class="p-large mb-30">
                  A one-stop solution that simplifies and delivers bite-sized content to your customers with impeccable
                  data for analysis and retargeting.
                </p>
                <div class="flex-align-center">
                  <button class="hero__btn">SIGN UP NOW</button>
                  <button class="hero__btn">LOGIN</button>
                </div>
              </div>
            </div>
            <img src="../../../assets/img/iphone8.png" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>