.page-home {
    background: transparent linear-gradient(0deg, #48CBD5 0%, #24666B 100%) 0% 0% no-repeat padding-box;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    img {
        max-height: 71vh;
    }
}

.hero__bg {
    width: 100%;
    height: calc(100vh - 40px);
    position: absolute;
    top: 0;
    left: 0;
    background: transparent linear-gradient(0deg, #7D45C1 0%, #450791 100%) 0% 0% no-repeat padding-box;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    z-index: 1;
}

.hero__heading {
    color: #fff;
}

.hero__detail {
    padding-left: 120px;
    color: #fff;
    p {
        max-width: 388px;
    }
}

.hero__container {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.hero__inner {
    margin-right: 20px;
}

.hero__btn {
    width: 150px;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0;
    border: 2px solid #E6CD0C;
    transition: all 0.3s ease-in-out;
    &:last-child {
        background: transparent;
        color: #E6CD0C;
        &:hover {
            background: #E6CD0C;
            color: #fff;
        }
    }
    &:first-child {
        margin-right: 15px;
        background: #E6CD0C;
        &:hover {
            color: #fff;
        }
    }
}

.swiper-container {
  width: 100vw;
}
