<!-- <div class="page-home">
  <section class="hero">
    <div class="hero__bg"></div>
    <div class="hero__container flex-center">
      <div class="hero__inner">
        <h1 class="heading hero__heading">Flow as you are</h1>
        <h1 class="heading hero__heading opacity-40">as you were,</h1>
        <h1 class="heading hero__heading opacity-8">as I want you to be.</h1>
      </div>
      <img src="../../../assets/img/mobile-video.png" />
    </div>
  </section>
</div> -->

<div class="swiper-container">
  <div class="swiper-wrapper">
      <div class="swiper-slide" >
        <div>div 1</div>
      </div>
      <div class="swiper-slide" >
        <div>div 2</div>
      </div>
      <div class="swiper-slide" >
        <div>div 3</div>
      </div>
  </div>
</div>
