@import "../tutorial/tutorial.component.scss";
.page-home {
    background: transparent linear-gradient(0deg, #48CBD5 0%, #24666B 100%) 0% 0% no-repeat padding-box;
}

.hero {
    padding: 20px;
    position: relative;
    width: 100vw;
    height: 100vh;
    img {
        max-height: 71vh;
    }
}

.hero__bg {
    width: 100%;
    height: calc(100vh - 40px);
    position: absolute;
    top: 0;
    left: 0;
    background: transparent linear-gradient(0deg, #7D45C1 0%, #450791 100%) 0% 0% no-repeat padding-box;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    z-index: 1;
}

.hero__heading {
    color: #fff;
}

.hero__detail {
    padding-left: 120px;
    color: #fff;
    p {
        max-width: 388px;
    }
}

.hero__container {
    max-width: 978px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.hero__inner {
    margin-right: 20px;
}

.hero__btn {
    width: 150px;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0;
    border: 2px solid #E6CD0C;
    transition: all 0.3s ease-in-out;
    &:last-child {
        background: transparent;
        color: #E6CD0C;
        &:hover {
            background: #E6CD0C;
            color: #fff;
        }
    }
    &:first-child {
        margin-right: 15px;
        background: #E6CD0C;
        &:hover {
            color: #fff;
        }
    }
}

.swiper-container {
  width: 100vw;
}

.intro {
    padding: 60px 20px;
}

.intro__container {
    max-width: 880px;
    margin: 0 auto;
    padding: 30px 50px;
    border-radius: 18px;
    background: #fff;
    text-align: center;
}

.intro__heading {
    font-size: 34px;
    color: #222A41;
}

.intro__title {
    color: #222A41;
}

.intro__video {
    .tutorial__inner {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}

.three-up__container {
    padding: 0 60px;
}

.three-up__heading {
    max-width: 164px;
    margin: 0 auto 10px;
    font-size: 24px;
    color: #56A1A7;
}

.three-up__col {
    max-width: 180px;
}

.three-up__des {
    font-size: 15px;
    color: #6D7783;
}