<div class="page-custom page-home">
  <section class="hero">
    <div class="hero__bg"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__container flex-between flex-align-center">
            <div class="hero__inner">
              <h1 class="heading hero__heading">Flow as you are</h1>
              <div class="hero__detail">
                <h1 class="heading hero__heading opacity-40">as you were,</h1>
                <h1 class="heading hero__heading opacity-8 mb-30">
                  as I want you to be.
                </h1>
                <p class="p-large mb-30">
                  A one-stop solution that simplifies and delivers bite-sized
                  content to your customers with impeccable data for analysis
                  and retargeting.
                </p>
                <div class="flex-align-center">
                  <button class="hero__btn">SIGN UP NOW</button>
                  <button class="hero__btn">LOGIN</button>
                </div>
              </div>
            </div>
            <img src="../../../assets/img/simulation.png" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__container flex-between flex-align-center">
            <div class="hero__inner">
              <h1 class="heading hero__heading">Flow as you are</h1>
              <div class="hero__detail">
                <h1 class="heading hero__heading opacity-40">as you were,</h1>
                <h1 class="heading hero__heading opacity-8 mb-30">
                  as I want you to be.
                </h1>
                <p class="p-large mb-30">
                  A one-stop solution that simplifies and delivers bite-sized
                  content to your customers with impeccable data for analysis
                  and retargeting.
                </p>
                <div class="flex-align-center">
                  <button class="hero__btn">SIGN UP NOW</button>
                  <button class="hero__btn">LOGIN</button>
                </div>
              </div>
            </div>
            <img src="../../../assets/img/mobile-video.png" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__container flex-between flex-align-center">
            <div class="hero__inner">
              <h1 class="heading hero__heading">Flow as you are</h1>
              <div class="hero__detail">
                <h1 class="heading hero__heading opacity-40">as you were,</h1>
                <h1 class="heading hero__heading opacity-8 mb-30">
                  as I want you to be.
                </h1>
                <p class="p-large mb-30">
                  A one-stop solution that simplifies and delivers bite-sized
                  content to your customers with impeccable data for analysis
                  and retargeting.
                </p>
                <div class="flex-align-center">
                  <button class="hero__btn">SIGN UP NOW</button>
                  <button class="hero__btn">LOGIN</button>
                </div>
              </div>
            </div>
            <img src="../../../assets/img/iphone8.png" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="intro">
    <div class="intro__container">
      <p class="p-large mb-5 intro__title">How it works?</p>
      <h1 class="mb-50 intro__heading">It's simple and fast</h1>
      <div class="three-up mb-30">
        <div class="three-up__container flex-between">
          <div class="three-up__col">
            <img class="mb-10" src="../../../assets/img/flow.png" />
            <h1 class="mb-10 three-up__heading">Build a new Flow</h1>
            <p class="three-up__des">
              Build a new Flow that tell your story and promote digitally your
              product or service.
            </p>
          </div>
          <div class="three-up__col">
            <img class="mb-10" src="../../../assets/img/customer.png" />
            <h1 class="mb-10 three-up__heading">Engage with Customers</h1>
            <p class="three-up__des">
              Share it via SMS, QR code or e-mail to engage with your customer
              the way you want.
            </p>
          </div>
          <div class="three-up__col">
            <img class="mb-10" src="../../../assets/img/data.png" />
            <h1 class="mb-10 three-up__heading">Collect Smart Data</h1>
            <p class="three-up__des">
              Retarget customers based on their journeys while building strong
              database.
            </p>
          </div>
        </div>
      </div>
      <div class="full-space intro__video flex-center">
        <div class="tutorial__inner">
          <div class="tutorial__video mb-25">
            <img src="../../../assets/img/home-video.png" />
            <span class="play-video">
              <img src="../../../assets/img/play-icon.png" />
            </span>
          </div>
          <div class="flex">
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
