<div class="page-account page-custom">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text active-cta" href="#">Account Setting<span class="mlr-5">/</span></a>
    </div>
  </div>
  <div class="page-title mb-15">
    <div class="container-custom page-title__container">
      <div class="flex-align-center">
        <span class="arrow arrow-left"></span>
        <h3 class="title ml-10">User name</h3>
      </div>
    </div>
  </div>

  <div class="form-custom">
    <div class="container-custom form-custom__container">
      <!--Before get information-->
      <!-- <div class="block-form form-two-up">
        <div class="form-custom__row flex-between mb-25">
          <div class="form-custom__col"></div>
          <div class="form-custom__col">
            <p class="semi-bold">Reset Password</p>
          </div>
        </div>
        <div class="form-custom__row flex-between mb-40">
          <div class="form-custom__col">
            <div class="block-input">
              <input placeholder="Full name" />
            </div>
          </div>
          <div class="form-custom__col">
            <div class="block-input">
              <input placeholder="Current password" />
            </div>
          </div>
        </div>
        <div class="form-custom__row flex-between mb-40">
          <div class="form-custom__col">
            <div class="block-input">
              <input placeholder="Email address" />
            </div>
          </div>
          <div class="form-custom__col">
            <div class="block-input">
              <input placeholder="New password" />
            </div>
          </div>
        </div>
        <div class="form-custom__row flex-between mb-40">
          <div class="form-custom__col">
            <div class="block-input">
              <input placeholder="Contact number" />
            </div>
          </div>
          <div class="form-custom__col">
            <div class="block-input">
              <input placeholder="Confirm new password" />
            </div>
          </div>
        </div>
        <div class="form-custom__row flex-between mb-15">
          <div class="form-custom__col">
            <div class="block-select flex-align-center flex-between">
              <p>Country</p>
              <span class="arrow arrow-down"></span>
            </div>
          </div>
        </div>
        <div class="form-custom__row flex-between mb-40">
          <p class="sub-heading lightgray-text">
            LAST SEEN: 2019.07.24 - 2359hours
          </p>
        </div>
      </div> -->

      <!--Detail Infomation-->
      <form [formGroup]="accountForm">
        <div class="block-form">
          <div class="form-custom__row flex-between mb-40">
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">FULL NAME</p>
              <div class="block-input">
                <input placeholder="John Doe" formControlName="displayName" />
              </div>
              <p class="error-text"
                *ngIf="(accountForm?.controls?.displayName?.touched || submitted) && !accountForm?.controls?.displayName?.valid">
                This
                field is required.</p>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">COUNTRY</p>
              <div class="block-select flex-align-center flex-between" (appClickOutside)="clickOutside($event)">
                <!-- <p>Singapore</p>
                <span class="arrow arrow-down"></span> -->
                <input formControlName="country" (focus)="showSelectBox =true" />
                <app-select-custom (onselect)="onSelectCountry($event)" [list]="listCountries" *ngIf="showSelectBox"
                  [showAddButton]="false"></app-select-custom>
              </div>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">CURRENT PASSWORD</p>
              <div class="block-input">
                <input placeholder="*************" type="password" formControlName="password" />

              </div>
              <p class="error-text"
                *ngIf="(accountForm?.controls?.password?.touched || submitted) && !accountForm?.controls?.password?.valid">
                This
                field is required.</p>
            </div>
          </div>
          <div class="form-custom__row flex-between mb-40">
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">EMAIL ADDRESS</p>
              <div class="block-input">
                <input placeholder="john@gmail.com" disabled formControlName="email" />
              </div>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10" >COMPANY</p>
              <div class="block-input">
                <input placeholder="Big Time Media" formControlName="companyName"/>
              </div>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">NEW PASSWORD</p>
              <div class="block-input">
                <input placeholder="*************" type="password" formControlName="newPassword" />

              </div>
              <p class="error-text"
                *ngIf="accountForm?.controls?.newPassword?.valid && accountForm?.controls?.confirmPassword?.touched && accountForm?.controls?.confirmPassword?.errors?.mustMatch">
                Passwords must match
              </p>
            </div>
          </div>
          <div class="form-custom__row flex-between mb-40">
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">MOBILE NUMBER</p>
              <div class="block-input">
                <input placeholder="john@gmail.com" formControlName="phoneNumber" />

              </div>
              <p class="error-text"
                *ngIf="(accountForm?.controls?.phoneNumber?.touched || submitted) && !accountForm?.controls?.phoneNumber?.valid">
                This
                field is required.</p>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">JOB TITLE</p>
              <div class="block-input">
                <input placeholder="Creative Director" formControlName="jobTitle" />
                <p class="error-text"
                  *ngIf="(accountForm?.controls?.jobTitle?.touched || submitted) && !accountForm?.controls?.jobTitle?.valid">
                  This
                  field is required.</p>
              </div>
            </div>
            <div class="form-custom__col">
              <p class="semi-bold sub-heading mb-10">
                NEW PASSWORD <span class="light-font">(CONFIRM)</span>
              </p>
              <div class="block-input">
                <input placeholder="*************" type="password" formControlName="confirmPassword" />

              </div>
              <p class="error-text"
                *ngIf="accountForm?.controls?.newPassword?.valid && accountForm?.controls?.confirmPassword?.touched && accountForm?.controls?.confirmPassword?.errors?.mustMatch">
                Passwords must match
              </p>
            </div>
          </div>
        </div>
        <div class="block-avatar">
          <div class="form-custom__row mb-40">
            <p class="semi-bold">PROFILE PIC</p>
          </div>
          <div class="form-custom__row flex-align-center mb-40">
            <div class="img-profile">
              <img class="pre-upload" src="{{imageUrl ? imageUrl : '../../../assets/img/blank-profile.png'}}">
            </div>
            <label class="upload-btn sub-heading">
              Upload Image
              <input type="file" #image (change)="handleFileInput($event)" accept="image/*" />
            </label>
            <button class="btn-transparent black-text sub-heading" (click)="removeImage()">
              REMOVE CURRENT
            </button>
          </div>
          <div class="flex-align-center flex-end btn-footer pdb-40">
            <button class="btn-transparent black-text sub-heading">cancel</button>
            <button class="btn-primary" (click)="updateUserInfo()" [disabled]='loading'>
              <app-loading-inside-btn *ngIf="loading"></app-loading-inside-btn>
              {{loading?'':'SAVE'}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>