<div class="page-custom">
  <p>insight works!</p>
  ân trí 2 tháng đầu năm 2020 tiếp tục có những diễn biến xấu về chất lượng không khí ở một số đô thị khu vực miền Bắc
  và miền Nam, đặc biệt là tại Hà Nội.
  >>Không khí Hà Nội liên tục ở ngưỡng xấu, nhà cao tầng chìm trong mù mịt
  >>Chủ tịch Hà Nội ra chỉ thị khẩn khắc phục ô nhiễm không khí
  Ngày 22/2, Tổng cục Môi trường (Bộ Tài nguyên và Môi trường) cho biết trong 2 tháng đầu năm 2020 tiếp tục có những
  diễn biến xấu về chất lượng không khí ở một số đô thị khu vực miền Bắc và miền Nam, đặc biệt là tại Hà Nội.

  Số liệu quan trắc cho thấy, ô nhiễm không khí chủ yếu do bụi mịn PM2.5, các thông số còn lại (NO2, O3, CO, SO2) về cơ
  bản vẫn có giá trị đạt quy chuẩn cho phép theo Quy chuẩn kỹ thuật quốc gia về chất lượng không khí xung quanh (QCVN).

  Tại một số đô thị khu vực miền Bắc như thành phố Việt Trì (Phú Thọ), Hà Nội, thành phố Hạ Long (Quảng Ninh), giá trị
  trung bình 24 giờ thông số bụi mịn PM2.5 cao hơn các khu vực khác, trong đó Hà Nội có giá trị cao nhất.

  <div (click)="changeTab('key-insight')">Key Insight</div>
  <div (click)="changeTab('engagement-insight')">engagement Insight</div>
  <router-outlet></router-outlet>
</div>
