<div class="page-broadcast page-custom">
  <div class="page-cta">
    <div class="container-custom page-cta__container">
      <a class="sub-heading page-cta__text active-cta" href="#">My Broadcasts<span class="mlr-5">/</span></a>
    </div>
  </div>
  <div class="page-title mb-15">
    <div class="container-custom page-title__container">
      <div class="flex-align-center">
        <span class="arrow arrow-left" (click)="goback()"></span>
        <h3 class="title ml-10">Open a broadcast or schedule a new one</h3>
      </div>
    </div>
  </div>
  <div class="calendar-block">
    <div class="container-custom flex-wrap calendar-block__container">
      <section class="calendar-block__body">
        <full-calendar #calendar defaultView="dayGridMonth" [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }" [editable]="true" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"
        (dateClick)="handleDateClick($event)" (eventClick)="handleEventClick($event)"></full-calendar>
      </section>
      <aside class="calendar-block__aside">
        <div class="flex-between flex-column">
          <div class="add-broadcast mb-40">
            <div class="add-icon"></div>
            <p class="title mb-10">Add a Broadcast</p>
            <button class="p-meidum add-btn mb-5" (click)="goto('schedule-broadcast')">SCHEDULE BROADCAST</button>
            <button class="p-meidum add-btn" (click)="goto('automated-response')">Automated response</button>
          </div>
          <div class="card-add mb-15">
            <div class="flex-align-center card-add__row">
              <div class="text-center card-add__left">
                <p class="sub-heading semi-bold">SMS Resources</p>
                <p class="card-heading">1,123,123</p>
              </div>
              <div class="card-add__right">
                <div class="add-icon"></div>
              </div>
            </div>
          </div>
          <div class="card-add">
            <div class="flex-align-center card-add__row">
              <div class="text-center card-add__left">
                <p class="sub-heading semi-bold">Email Resources</p>
                <p class="card-heading">1,123,123</p>
              </div>
              <div class="card-add__right">
                <div class="add-icon"></div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>